@import "base/_general.scss";
@import "base/_fonts.scss";
@import "helpers/_variables.scss";
@import "smart-grid.scss";
@import "../blocks/modules.scss";

.wrapper {
  @include wrapper();
}

body {
  font-family: 'Nekst', sans-serif;
  font-style: normal;
  font-size: 14px;
  color: $black;
  line-height: 1;
  letter-spacing: -0.02px;
  background-color: #fff;
  overflow-x: hidden;
}

.calculator {
  padding: 213px 0;
}