<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>gulp-scss-starter</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
<header></header>

<main class="main">
  <section class="calculator">
    <div class="wrapper">
      <form action="" class="calculator__form">
        <h2 class="calculator__title">Рассчитайте стоимость<br>автомобиля в лизинг</h2>
        <div class="calculator__items">
          @@include("../blocks/modules/calculator-input/calculator-input.html", {
          "input-title": "Стоимость автомобиля",
          "min": "1500000",
          "max": "10000000",
          "value": "3300000",
          "step": "5000",
          "unit": "₽",
          })

          @@include("../blocks/modules/calculator-input/calculator-input.html", {
          "input-title": "Первоначальный взнос",
          "min": "100000",
          "max": "2600000",
          "value": "420000",
          "step": "5000",
          "label": "13%",
          })

          @@include("../blocks/modules/calculator-input/calculator-input.html", {
          "input-title": "Срок лизинга",
          "min": "6",
          "max": "120",
          "value": "60",
          "step": "1",
          "unit": "мес.",
          })
        </div>
        <div class="result-items">
          <div class="result-items__item">
            <p class="result-items__item--title">Сумма договора лизинга</p>
            <p class="result-items__item--price">4 467 313 ₽</p>
          </div>
          <div class="result-items__item">
            <p class="result-items__item--title">Ежемесячный платеж от</p>
            <p class="result-items__item--price">114 455 ₽</p>
          </div>
          <button class="result-items__item btn">Оставить заявку</button>
        </div>
      </form>
    </div>
  </section>
</main>

<script src="js/main.js"></script>
</body>

</html>